<app-header></app-header>

<section id="home" class="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="main_home_slider text-center">
                        <div class="single_home_slider">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h2>FIFA World Cup Russia 2018</h2>
                                <div class="separator"></div>
                                <p>
                                    La Copa Mundial de la FIFA Rusia 2018 será la vigésima primera edición de la Copa Mundial de Fútbol. Esta edición del evento se realizará en Rusia entre el 14 de junio y el 15 de julio de 2018, siendo la primera vez que un país de Europa Oriental organiza
                                    el campeonato.</p>


                            </div>
                        </div>
                        <div class="single_home_slider">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h2>Hosts Cities</h2>
                                <div class="separator"></div>
                                <p>Rusia confirmó 12 estadios en 11 ciudades para el mundial: Ekaterimburgo, Kaliningrado, Kazán, Moscú, Nizhni Nóvgorod, Rostov del Don, San Petersburgo, Samara, Saransk, Sochi y Volgogrado, las cuales albergarán los 64 partidos
                                    de la Copa Mundial.</p>

                            </div>
                        </div>
                        <div class="single_home_slider">
                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                <h2>Teams</h2>
                                <div class="separator"></div>
                                <p>En el proceso de clasificación para la Copa Mundial de Fútbol de 2018, los equipos inscriptos por las seis confederaciones de la FIFA compitieron por los 31 cupos disponibles. Con la plaza destinada al anfitrión, Rusia,
                                    serán 32 participantes los que disputarán la competencia final del torneo.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>