<section id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_service_area sections">
                    <div class="row">
                        <div class="head_title ">

                            <div class="row">
                                <div class="col-sm-8 text-center">
                                    <h3>Estadios</h3>
                                    <div class="separator2"></div>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <button (click)="addModal()" type="button" class="btn btn-primary">
                                      Nuevo
                              </button> &nbsp;
                                </div>
                                <div class="col-sm-1 text-right">
                                    &nbsp;
                                </div>
                            </div>



                            <div class="main_service_content">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="thead-dark" style="background-color:darkgrey; color: white">
                                                <tr>
                                                    <th> </th>
                                                    <th>Estadio</th>
                                                    <th>Capacidad</th>
                                                    <th>Sede</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let estadio of estadios">
                                                    <td>
                                                        <img (click)="actualizarImagen(estadio)" [src]="estadio.img | imagen:'estadios'" class="img-foto pointer">
                                                    </td>
                                                    <td>
                                                        {{ estadio.estadio }} <br> {{ estadio.completo }} <br> {{ estadio.estadiolocal }}
                                                    </td>
                                                    <td>
                                                        {{ estadio.capacidad }}
                                                    </td>
                                                    <td>
                                                        {{ estadio.sede.sede }}
                                                    </td>
                                                    <td><button (click)="editModal(estadio,estadio.sede._id)" type="button" class="btn btn-primary">
                                                          <i class="fa fa-save"></i>
                                                  </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-modal-estadio (termino)="terminar($event)" [titulo]="tituloModal" [oculto]="oculto" [estadio]="estadio"></app-modal-estadio>