<header id="main_menu" class="header navbar-fixed-top navbar-inverse">
    <div class="main_menu_bg">
        <div class="container">
            <div class="row">
                <div class="nave_menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                          <span class="sr-only">Toggle navigation</span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                      </button>
                                <a class="navbar-brand" (click)="navigate('home')">
                                    <img src="assets/images/logo.png" height="50px" width="70px" />
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->



                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a routerLinkActive="active" (click)="navigate('home')">Home</a></li>
                                    <li><a routerLinkActive="active">Matches</a></li>
                                    <li><a routerLinkActive="active">Groups</a></li>
                                    <li *ngIf="admin" class="pointer"><a routerLinkActive="active" (click)="navigate('admin')">Administración</a></li>
                                    <li *ngIf="admin"><a (click)="logOut()">Salir</a></li>
                                </ul>


                            </div>

                        </div>
                    </nav>
                </div>
            </div>

        </div>

    </div>
</header>
<!--End of header -->