<div style="background-color: blueviolet">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="main_testimonial sections text-center">

                    <div class="col-sm-4">

                    </div>

                    <div class="col-sm-4">
                        <div class="single_contant_center">
                            <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)">
                                <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                <div class="form-group" style="text-align: center">
                                    <a href=""><img src="assets/images/logo.png" alt="" /></a>
                                </div>

                                <div class="form-group">
                                    <input [ngModel]="email" type="email" class="form-control" style="color: blueviolet" name="email" placeholder="Email" required="">
                                </div>

                                <div class="form-group">
                                    <input ngModel type="password" class="form-control" style="color: blueviolet" name="password" placeholder="Password" required="">
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="checkbox checkbox-primary pull-left p-t-0">
                                            <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                            <label for="checkbox-signup"> Recuérdame </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="">
                                    <button class="btn btn-primary" type="submit">Ingresar</button>
                                </div>
                                <!--</div>-->
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-4">

                    </div>


                </div>
                <!-- End of messsage contant-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="main_testimonial sections text-center">



                </div>
                <!-- End of messsage contant-->
            </div>
        </div>
    </div>

</div>